{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="section section-shaped section-lg"  style="background-image: url({% static 'assets/img/imp/5.jpg' %}); background-size: cover; background-position: center;">
    <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container pt-lg-7">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card bg-secondary shadow border-0 my-rounded">
                    <!-- <div class="card-header bg-white pb-5">
            <div class="text-muted text-center mb-3"><small>Sign in with</small></div>
            <div class="btn-wrapper text-center">
              <a href="#" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                <span class="btn-inner--text">Github</span>
              </a>
              <a href="#" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div>
          </div> -->
                    {% block form %}
                    {% endblock form %}
                </div>
                <!-- <div class="row mt-3">
                    <div class="col-6">
                        <a href="#" class="text-light">
                            <small>Forgot password?</small>
                        </a>
                    </div>
                    <div class="col-6 text-right">
                        <a href="#" class="text-light">
                            <small>Create new account</small>
                        </a>
                    </div>
                </div> -->

            </div>

        </div>

    </div>
        <p class="text-white float-right m-5" style="font-size: 40px; font-weight: 100">Assemble or join, the perfect team!</p>

</section>
{% endblock content %}
