{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
Solitaire HR - Home Page
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="section section-hero section-shaped">
        <div class="shape shape-style-1 shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="page-header">
            <div class="container shape-container d-flex align-items-center">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <!-- <div class="col-lg-6 text-center">
            <img src="./assets/img/brand/white.png" style="width: 200px;" class="img-fluid">
            <p class="lead text-white">A beautiful Design System for Bootstrap 4. It's Free and Open Source.</p>
            <div class="btn-wrapper mt-5">
              <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                <span class="btn-inner--text">Download HTML</span>
              </a>
              <a href="https://github.com/creativetimofficial/argon-design-system" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                <span class="btn-inner--text"><span class="text-warning">Star us</span> on Github</span>
              </a>
            </div>
            <div class="mt-5">
              <small class="font-weight-bold mb-0 mr-2 text-white">*proudly coded by</small>
              <img src="./assets/img/brand/creativetim-white-slim.png" style="height: 28px;">
            </div>
          </div> -->
                        <div class="col-lg-7 col-md-12 col-sm-12 pr-5">
                            <h2 class="lead text-white " style="font-size:50px;">Find Jobs Now!</h2>
                            <div class="card p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                placeholder="What are you looking for?">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Location">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-outline-default btn-block">Search</button>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="card mt-5">
                                <div class="card-header">
                                        <div class="list-group list-group-horizontal-lg ml-4" id="list-tab" role="tablist">
                                            <a class="list-group-item list-group-item-action active mb-sm-3 mb-md-0" id="list-home-list"
                                                data-toggle="list" href="#list-job-seeker" role="tab" aria-controls="home"
                                                style="width:fit-content;">Job Seeker</a>
                                            <a class="list-group-item list-group-item-action mb-sm-3 mb-md-0" id="list-profile-list"
                                                data-toggle="list" href="#list-employer" role="tab" aria-controls="profile"
                                                style="width:fit-content;">Employer</a>
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="card-body mb-3 mr-3 ml-3 p-4" style="background-color: rgba(255, 255, 255, 1);">
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="list-job-seeker" role="tabpanel"
                                                aria-labelledby="list-home-list"> 
                                                <p class="text-center">Job Seeker Signup</p>
                                                <form class="signup" id="signup_form" method="post" action=".">
                                                    {% csrf_token %}
                                                {{form|crispy}}
                                                {% if redirect_field_value %}
                                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                                {% endif %}
                                                <button type="submit" class="btn btn-secondary">{% trans "Register Now" %} &raquo;</button>
                                              </form>
                                            </div>
                                            <div class="tab-pane fade" id="list-employer" role="tabpanel"
                                                aria-labelledby="list-profile-list">
                                                <p class="text-center">Employer Signup</p>
                                                 {{form|crispy}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>

{% endblock content %}