{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<style>
    body {
        background-color: #f4f5f7
    }
</style>
<div class="wrapper">
    <div class=" section-shaped">
        <div class="shape shape-style-3 shape-default">
            <span class="span-150"></span>
            <span class="span-50"></span>
        </div>
        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="section features-1 mt--8 ">
        <div class="container">
            <div class="card">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group ml-3 mt-3">
                                    <input type="text" placeholder="Skill, Company.." class="form-control"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group mt-3">
                                    <input type="text" placeholder="City" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group mt-3">
                                    <input type="text" placeholder="Functional Area" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-primary mt-3">Search</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="card m-3">
                                    <div class="card-header">
                                        City
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-group">
                                            <input type="text" placeholder="Regular" class="form-control" />
                                          </div>
                                    </div>
                                </div>
                                <div class="card m-3">
                                    <div class="card-header">
                                        City
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-group">
                                            <input type="text" placeholder="Regular" class="form-control" />
                                          </div>
                                    </div>
                                </div>
                                <div class="card m-3">
                                    <div class="card-header">
                                        City
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-group">
                                            <input type="text" placeholder="Regular" class="form-control" />
                                          </div>
                                    </div>
                                </div>
                                <div class="card m-3">
                                    <div class="card-header">
                                        City
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-group">
                                            <input type="text" placeholder="Regular" class="form-control" />
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="card mt-3 p-3 mr-3">
                                    <p>
                                        <b>
                                            Call Center Representative
                                        </b> Lahore, Pakistan 
                                    </p>
                                    <p>
                                        Marketing Pvt Ltd
                                    </p>
                                </div>
                            </div>
                        </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}