{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} {% endblock %} 

{% block content %}
<style>
  body {
    background-color: #f4f5f7;
  }
</style>
<div class="wrapper">
    <div class="section-shaped">
        <div class="shape shape-style-3 shape-default">
            <span class="span-150"></span>
            <span class="span-50"></span>
        </div>
        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section features-1 mt--8">
        <div class="container">
            <div class="card">
                <div class="p-5">
                    <h1>Post Job</h1>
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
