{% extends 'norm_base.html' %}

{% load static %}
{% block normal_content %}
<div class="p-5">
                      <h2 class="mb-4 mr-4 ml-5">Jobs Dashboard</h2>
                        {% for j in job_applications %}
                        <div class="card mb-5 p-4 my-rounded shadow">
                            <a href="{% url 'jobs:detail' j.job.id %}">
                                <h5>{{j.job.job_designation}}</h5>
                            </a>

                            <p class="bg-secondary text-primary p-3 text-center my-rounded" style="font-weight: 400;">Applied 
                                <i class="ni ni-check-bold"></i>
                                <span class="ml-5 text-gray">Shortlisted</span>
                                <span class="ml-5 text-gray">Interviewed</span>
                                <span class="ml-5 text-gray">Selected</span>
                            </p>
                        </div>
                        {% endfor %}
                      </div>
    {% endblock %}