{% load static %}


<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container rounded" style="max-width: 100%; background-color: rgb(23, 43, 77, 0.7);">
        <a class="navbar-brand ml-5 mr-lg-5" href="/" style="font-size: 24px;">
            solitaire hr
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
            aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
    <div class="navbar-collapse-header">
      <div class="row">
        <div class="col-6 collapse-brand">
          <a href="/">
            <h5>Solitaire HR</h5>
          </a>
        </div>
        <div class="col-6 collapse-close">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
    {% if not user.is_authenticated %}
    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
          <i class="ni ni-ui-04 d-lg-none"></i>
          <span class="nav-link-inner--text">Jobs</span>
        </a>
        <div class="dropdown-menu dropdown-menu-xl">
          <div class="dropdown-menu-inner">
            <a href="#" class="media d-flex align-items-center">
              <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                <i class="ni ni-spaceship"></i>
              </div>
              <div class="media-body ml-3">
                <h6 class="heading text-primary mb-md-1">Browse Jobs</h6>
                <p class="description d-none d-md-inline-block mb-0">Browse all sorts of jobs, find ones which suit you best.</p>
              </div>
            </a>
            <a href="#" class="media d-flex align-items-center">
              <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                <i class="ni ni-palette"></i>
              </div>
              <div class="media-body ml-3">
                <h6 class="heading text-primary mb-md-1">Jobs by Category</h6>
                <p class="description d-none d-md-inline-block mb-0">Browse jobs by category. Find your favorite jobs.</p>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="{% url 'cvwriting' %}" class="nav-link" role="button">
          <i class="ni ni-collection d-lg-none"></i>
          <span class="nav-link-inner--text">CV Writing
            <span class="badge badge-secondary">New</span>
          </span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a href="{% url 'hiring' %}" class="nav-link" role="button">
          <i class="ni ni-collection d-lg-none"></i>
          <span class="nav-link-inner--text">Hiring Solutions
          </span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
      <li class="nav-item">
          <a href="{% url 'account_login' %}"  class="nav-link">
              Login
          </a>

      <li class="nav-item d-none d-lg-block ml-lg-4">
        <a href="{% url 'account_signup' %}" class="badge badge-neutral text-primary p-2" style="font-size:14px;">
          <span class="btn-inner--icon">
          </span>
          <span class="nav-link-inner--text">Register Now!</span>
        </a>
        <!-- <a href="#" class="badge badge-neutral text-primary p-2" style="font-size:14px;">
          <span class="btn-inner--icon">
            <i class="fa fa-cloud-download mr-2"></i>
          </span>
          <span class="nav-link-inner--text">Employer</span>
        </a> -->
      </li>
    </ul>
    {% elif user.profile.is_jobseeker %}
    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
          <i class="ni ni-ui-04 d-lg-none"></i>
          <span class="nav-link-inner--text">Jobs</span>
        </a>
        <div class="dropdown-menu dropdown-menu-xl">
          <div class="dropdown-menu-inner">
            <a href="{% url 'jobs:my' %}" class="media d-flex align-items-center">
              <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                <i class="ni ni-briefcase-24"></i>
              </div>
              <div class="media-body ml-3">
                <h6 class="heading text-warning mb-md-1">My Jobs</h6>
                <p class="description d-none d-md-inline-block mb-0">Look at all your job applications.</p>
              </div>
            </a>
            <a href="{% url 'jobs:all' %}" class="media d-flex align-items-center">
              <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                <i class="ni ni-spaceship"></i>
              </div>
              <div class="media-body ml-3">
                <h6 class="heading text-primary mb-md-1">Browse Jobs</h6>
                <p class="description d-none d-md-inline-block mb-0">Browse all sorts of jobs, find ones which suit you best.</p>
              </div>
            </a>
            <a href="#" class="media d-flex align-items-center">
              <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                <i class="ni ni-palette"></i>
              </div>
              <div class="media-body ml-3">
                <h6 class="heading text-primary mb-md-1">Jobs by Category</h6>
                <p class="description d-none d-md-inline-block mb-0">Browse jobs by category. Find your favorite jobs.</p>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="{% url 'profile_redirect' %}" class="nav-link" role="button">
          <i class="ni ni-collection d-lg-none"></i>
          <span class="nav-link-inner--text">Profile
          </span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link" role="button">
          <i class="ni ni-collection d-lg-none"></i>
          <span class="nav-link-inner--text">Resume
          </span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a href="{% url 'cvwriting' %}" class="nav-link" role="button">
          <i class="ni ni-collection d-lg-none"></i>
          <span class="nav-link-inner--text">CV Writing
            <span class="badge badge-secondary">New</span>
          </span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
      {% include 'base_components/nav-user.html' %}
    </ul>
    {% elif user.profile.is_employer %}
    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
      <li class="nav-item dropdown">
        <a href="{% url 'profile_redirect' %}" class="nav-link" role="button">
          <i class="ni ni-collection d-lg-none"></i>
          <span class="nav-link-inner--text">Profile
          </span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link" role="button">
          <i class="ni ni-collection d-lg-none"></i>
          <span class="nav-link-inner--text">Jobs
          </span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a href="{% url 'cvwriting' %}" class="nav-link" role="button">
          <i class="ni ni-collection d-lg-none"></i>
          <span class="nav-link-inner--text">Hiring Solutions
          </span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
      <li class="nav-item text-white">
        <span class="nav-link-inner--text" style="font-size:14px;">
          Need help? Call Us: 0312-90990132
        </span>
        | 
      </li>
      {% include 'base_components/nav-user.html' %}

    </ul>
    {% else %}
    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
          <i class="ni ni-ui-04 d-lg-none"></i>
          <span class="nav-link-inner--text">Jobs</span>
        </a>
        <div class="dropdown-menu dropdown-menu-xl">
          <div class="dropdown-menu-inner">
            <a href="#" class="media d-flex align-items-center">
              <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                <i class="ni ni-spaceship"></i>
              </div>
              <div class="media-body ml-3">
                <h6 class="heading text-primary mb-md-1">Browse Jobs</h6>
                <p class="description d-none d-md-inline-block mb-0">Browse all sorts of jobs, find ones which suit you best.</p>
              </div>
            </a>
            <a href="#" class="media d-flex align-items-center">
              <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                <i class="ni ni-palette"></i>
              </div>
              <div class="media-body ml-3">
                <h6 class="heading text-primary mb-md-1">Jobs by Category</h6>
                <p class="description d-none d-md-inline-block mb-0">Browse jobs by category. Find your favorite jobs.</p>
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="{% url 'cvwriting' %}" class="nav-link" role="button">
          <i class="ni ni-collection d-lg-none"></i>
          <span class="nav-link-inner--text">CV Writing
            <span class="badge badge-secondary">New</span>
          </span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a href="{% url 'hiring' %}" class="nav-link" role="button">
          <i class="ni ni-collection d-lg-none"></i>
          <span class="nav-link-inner--text">Hiring Solutions
          </span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
      {% include 'base_components/nav-user.html' %}
    </ul>
    {% endif %}
  </div>
    </div>
    
</nav>
