{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="section section-hero section-shaped">
    <div class="shape shape-style-3 shape-default">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    <div class="page-header">
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1 class="text-white display-1">Land more Jobs</h1>
              <h2 class="display-4 font-weight-normal text-white">Hire a Resume Writer today!</h2>
              <div class="btn-wrapper mt-4">
                <a href="#" class="btn btn-success btn-lg mt-3 mb-sm-0" style="font-size: 30px; font-weight: 100;">
                  <!-- <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span> -->
                  <span class="btn-inner--text">Lets start</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-8 mx-auto text-center">
          <!-- <span class="badge badge-primary badge-pill mb-3">Insight</span> -->
          <h3 class="display-3">Pricing</h3>
          <!-- <p class="lead"></p> -->
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card p-3 text-center info">
            <!-- <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                <i class="ni ni-settings-gear-65"></i>
              </div> -->
            <h3 class="info-title text-uppercase text-primary" style="margin: 0;">Newbie</h3>
            <h3 class="lead text-primary">0-3 years</h3>

            <p class="description opacity-8">
              If you are a fresh graduate or an entry level candidate, this package is for you. Don’t get lost in the
              inexperienced crowd. Let our CV experts write a custom resume tailored just for you. First impressions
              count!
              <br>
              <b>
                Features include:
              </b>
            <ul class="description opacity-8">
              <li class="description opacity-8">
                Formatted for achievement – Personal Branding that will get an employer's attention.
              </li>
              <li class="description opacity-8">
                Keyword optimized – Resumes that can pass through the ATS test (Applicant Tracking System).
              </li>
              <li class="description opacity-8">
                Free access to candidate profile account – Ability to continuously edit your CV as you grow and benefit
                from our offerings.
              </li>

            </ul>
            </p>
            <a href="javascript:;" class="btn btn-primary lead">Rs. 3000
            </a>
          </div>
        </div>
        <div class="col-4">
          <div class="card p-3 text-center info">
            <!-- <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                <i class="ni ni-settings-gear-65"></i>
              </div> -->
            <h3 class="info-title text-uppercase text-primary" style="margin: 0;">Newbie</h3>
            <h3 class="lead text-primary">0-3 years</h3>

            <p class="description opacity-8">
              If you are a fresh graduate or an entry level candidate, this package is for you. Don’t get lost in the
              inexperienced crowd. Let our CV experts write a custom resume tailored just for you. First impressions
              count!
              <br>
              <b>
                Features include:
              </b>
            <ul class="description opacity-8">
              <li class="description opacity-8">
                Formatted for achievement – Personal Branding that will get an employer's attention.
              </li>
              <li class="description opacity-8">
                Keyword optimized – Resumes that can pass through the ATS test (Applicant Tracking System).
              </li>
              <li class="description opacity-8">
                Free access to candidate profile account – Ability to continuously edit your CV as you grow and benefit
                from our offerings.
              </li>

            </ul>
            </p>
            <a href="javascript:;" class="btn btn-primary lead">Rs. 3000
            </a>
          </div>
        </div>
        <div class="col-4">
          <div class="card p-3 text-center info">
            <!-- <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                <i class="ni ni-settings-gear-65"></i>
              </div> -->
            <h3 class="info-title text-uppercase text-primary" style="margin: 0;">Newbie</h3>
            <h3 class="lead text-primary">0-3 years</h3>

            <p class="description opacity-8">
              If you are a fresh graduate or an entry level candidate, this package is for you. Don’t get lost in the
              inexperienced crowd. Let our CV experts write a custom resume tailored just for you. First impressions
              count!
              <br>
              <b>
                Features include:
              </b>
            <ul class="description opacity-8">
              <li class="description opacity-8">
                Formatted for achievement – Personal Branding that will get an employer's attention.
              </li>
              <li class="description opacity-8">
                Keyword optimized – Resumes that can pass through the ATS test (Applicant Tracking System).
              </li>
              <li class="description opacity-8">
                Free access to candidate profile account – Ability to continuously edit your CV as you grow and benefit
                from our offerings.
              </li>

            </ul>
            </p>
            <a href="javascript:;" class="btn btn-primary lead">Rs. 3000
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="display text-center text-primary">
      <strong>Benefits </strong> of a <strong> Custom CV</strong>
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        <h4 class="badge badge-primary" style="font-size:30px; font-weight: 100;">Get Branded</h4>
        <p class="lead">You are your own brand. And every great brand has very distinct mission, tone and voice. The
          brands we love capture emotion, exude trust and make us want to get on their wagon. Let Jobee be your brand
          agent! We will lift your accomplishments and make you read like a rock star.</p>
      </div>
      <div class="col-4 text-center">
        <h4 class="badge badge-primary" style="font-size:30px; font-weight: 100;">Get Branded</h4>
        <p class="lead">You are your own brand. And every great brand has very distinct mission, tone and voice. The
          brands we love capture emotion, exude trust and make us want to get on their wagon. Let Jobee be your brand
          agent! We will lift your accomplishments and make you read like a rock star.</p>
      </div>
      <div class="col-4 text-center">
        <h4 class="badge badge-primary" style="font-size:30px; font-weight: 100;">Get Branded</h4>
        <p class="lead">You are your own brand. And every great brand has very distinct mission, tone and voice. The
          brands we love capture emotion, exude trust and make us want to get on their wagon. Let Jobee be your brand
          agent! We will lift your accomplishments and make you read like a rock star.</p>
      </div>
  </div>
  </div>
</div>

{% endblock %}