{% extends 'base.html' %}

{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="section section-hero section-shaped" style="background-image: url({% static 'assets/img/imp/3.jpg' %}); background-size: cover; background-position: center;">
    <!-- <div class="shape shape-style-3 shape-default">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div> -->
    <div class="page-header">
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center p-4" style="background-color: rgba(23, 43, 77, 0.7);">
              <h1 class="text-white display-1">Land more Jobs</h1>
              <h2 class="display-4 font-weight-normal text-white">Hire a Resume Writer today!</h2>
              <div class="btn-wrapper mt-3">
                <a href="#pricing" class="btn btn-secondary btn-lg mt-3 mb-sm-0" style="font-size: 30px; font-weight: 100;">
                  <!-- <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span> -->
                  <span class="btn-inner--text">Lets start</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-8 mx-auto text-center">
          <!-- <span class="badge badge-primary badge-pill mb-3">Insight</span> -->
<u>
  <h3 class="display-3" id="pricing">Pricing</h3>
</u>
          <!-- <p class="lead"></p> -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="card p-3 text-center info my-rounded shadow m-2">
            <!-- <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                <i class="ni ni-settings-gear-65"></i>
              </div> -->
            <h3 class="info-title text-uppercase text-default border border-default my-rounded" style="margin: 0;">
              <!-- <span class="badge badge-default p-2 m-2">1</span> -->
              Basic package
              
            </h3>

            <p class="description mt-3">
              An expertly written and keyword-optimized resume that sets you apart.
              <br>
              <b>
                Features include:
              </b>
            <ul class="description opacity-8">
              <li class="description opacity-8">
                Professionally written - By experts that know your industry.

              </li>
              <li class="description opacity-8">
                Formatted for success - Formatting that will get an employer's attention.
              </li>
              <li class="description opacity-8">
                Keyword optimized - Your resume will be optimized to pass through Applicant Tracking Systems.

              </li>

            </ul>Kindly share your resume at: hr@solitairehr.com 
            </p>
            <p class="btn btn-default lead my-rounded">Rs. 1700
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="card p-3 text-center info my-rounded shadow m-2">
            <!-- <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                <i class="ni ni-settings-gear-65"></i>
              </div> -->
            <h3 class="info-title text-uppercase text-default border border-default my-rounded" style="margin: 0;">
              <!-- <span class="badge badge-default p-2 m-2">1</span> -->
              Pro Package
              
            </h3>

            <p class="description mt-3">
              Everything you need to apply to jobs, including a resume and cover letter.
              <br>
              <b>
                Features include:
              </b>
            <ul class="description opacity-8">
              <li class="description opacity-8">
                Professionally written - By experts that know your industry.

              </li>
              <li class="description opacity-8">
                Formatted for success - Formatting that will get an employer's attention.
              </li>
              <li class="description opacity-8">
                Keyword optimized - Your resume will be optimized to pass through Applicant Tracking Systems.

              </li>
              <li class="description opacity-8">
                Cover letter - Employers are 40% more likely to read a resume with a cover letter.
              </li>

            </ul>Kindly share your resume at: hr@solitairehr.com 
            </p>
            <p class="btn btn-default lead my-rounded">Rs. 2600
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="card p-3 text-center info my-rounded shadow m-2">
            <!-- <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                <i class="ni ni-settings-gear-65"></i>
              </div> -->
            <h3 class="info-title text-uppercase text-default border border-default my-rounded" style="margin: 0;">
              <!-- <span class="badge badge-default p-2 m-2">1</span> -->
              C-level package
            </h3>

            <p class="description mt-3">
              Resume, cover letter, and LinkedIn profile, created by an executive writer.

              <br>
              <b>
                Features include:
              </b>
            <ul class="description opacity-8">
              <li class="description opacity-8">
                Executive writer - Top 10% of our network.
              </li>
              <li class="description opacity-8">
                Formatted for success - Formatting that will get an employer's attention.
              </li>
              <li class="description opacity-8">
                Keyword optimized - Your resume will be optimized to pass through Applicant Tracking Systems.
              </li>
              <li class="description opacity-8">
                Cover letter - Employers are 40% more likely to read a resume with a cover letter.
              </li>
              <li class="description opacity-8">
                60-day interview guarantee.
              </li>
              <li class="description opacity-8">
                LinkedIn Makeover - 97% of employers use LinkedIn; we'll rewrite your profile.
              </li>
            </ul>Kindly share your resume at: hr@solitairehr.com 
            </p>
            <p class="btn btn-default lead my-rounded">Rs. 4000
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <!-- <h2 class="display text-center text-primary">
      <strong>Benefits </strong> of a <strong> Custom CV</strong>
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        <h4 class="badge badge-primary" style="font-size:30px; font-weight: 100;">Get Branded</h4>
        <p class="lead">You are your own brand. And every great brand has very distinct mission, tone and voice. The
          brands we love capture emotion, exude trust and make us want to get on their wagon. Let Jobee be your brand
          agent! We will lift your accomplishments and make you read like a rock star.</p>
      </div>
      <div class="col-4 text-center">
        <h4 class="badge badge-primary" style="font-size:30px; font-weight: 100;">Get Branded</h4>
        <p class="lead">You are your own brand. And every great brand has very distinct mission, tone and voice. The
          brands we love capture emotion, exude trust and make us want to get on their wagon. Let Jobee be your brand
          agent! We will lift your accomplishments and make you read like a rock star.</p>
      </div>
      <div class="col-4 text-center">
        <h4 class="badge badge-primary" style="font-size:30px; font-weight: 100;">Get Branded</h4>
        <p class="lead">You are your own brand. And every great brand has very distinct mission, tone and voice. The
          brands we love capture emotion, exude trust and make us want to get on their wagon. Let Jobee be your brand
          agent! We will lift your accomplishments and make you read like a rock star.</p>
      </div>
  </div>
  </div> -->
</div>

{% endblock %}